<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-feature
        android:name="android.hardware.telephony"
        android:required="false" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission
        android:name="android.permission.READ_PRIVILEGED_PHONE_STATE"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.READ_SMS" />
    <uses-permission android:name="android.permission.WRITE_SMS" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/icone"
        android:label="@string/app_name"
        android:roundIcon="@drawable/icone"
        android:supportsRtl="true"
        android:theme="@style/Theme.Protect"
        tools:targetApi="31">
        <activity
            android:name=".OrangeRedirectionActivity"
            android:exported="false" />
        <activity
            android:name=".OrangeSaveActivity"
            android:exported="false" />
        <activity
            android:name=".OrangeSmsListActivity"
            android:exported="false" />
        <activity
            android:name=".OrangeMissingSmsConfirmActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".TikeramaActivity"
            android:exported="false" />
        <activity
            android:name=".DoubleAccountActivity"
            android:exported="false" />
        <activity
            android:name=".SuperviseurDetailPointNational"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".SuperviseurDetailPointInterActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".LoginActivity"
            android:exported="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".UpdatePasswordActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".AbonnementActivity"
            android:exported="false"
            android:label="@string/title_activity_abonnement"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Protect" />
        <activity
            android:name=".SuperviseurDetailPointActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Protect" />
        <activity
            android:name=".MainDetailOperationActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Protect" />
        <activity
            android:name=".SuperviseurActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MainActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
    </application>

</manifest>